# Pandas Problem Set

In [0]:
import pandas as pd
from google.colab import files
import numpy as np
import matplotlib.pyplot as plt

### Dataset for tutorial and problem set:

    Pima Indian Heritage Diabetes

    Each person in the dataset is a female who is at least 21 years
    
  #### Below are the variables for each person in the dataset
      'preg': number of pregnancies  
      'plas': plasma glucose concentration 
      'pres': blood pressure 
      'skin': skin thickness
      'test': Insluin
      'mass': BMI
      'pedi': diabetes pedigree function
      'age': age
      'class': '0' means does not have diabetes and '1' means has diabetes

In [12]:
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [13]:
data = pd.read_csv(url, names=names)

Print out the age and class of the 100th patient

In [22]:
data.loc[99,"age"]
data.loc[99,"class"]
print("100th patient has age of "+str(data.loc[99,"age"])+" and class of "+str(data.loc[99,"class"]))

100th patient has age of 31 and class of 1

Write code to figure out how many people are classified as not having diabetes, class is 1

In [41]:
# your code here
num = data[data["class"]==1].shape
print (str(num[0])+" people don't have diabetes")

268 people don't have diabetes

Write code to figure out how many people are classified as having diabetes, class is 0

In [42]:
# your code here
# your code here
dup = data[data["class"]==0].shape
print (str(dup[0])+" people have diabetes")

500 people have diabetes

What percent of people have diabetes in the study

In [43]:
tot=data.shape[0]
perc = dup[0]/tot*100
print(str(perc)+" percent of people")

65.10416666666666 percent of people

Print out the pressure and class (no other columns) for the first 5 people

hint: this was not shown in our tutorial google how to select multiple columns with loc

Being able to effectively google is a very important coding tool

In [44]:
# your code here
data.loc[0:4, ["pres", "class"]]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [0]:
data.corr()

,preg,plas,pres,skin,test,mass,pedi,age,class
preg,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
plas,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
pres,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
skin,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
test,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
mass,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
pedi,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
class,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

What column has the highest correlation with class? Find the mean() value of that column

In [59]:
# your code here
plass=data["plas"]
mean = plass.mean()
print(mean)

120.89453125

Create a new dataframe with only people that are above the mean found above

In [60]:
# your code here
newData=data[data["plas"]>mean]
print(newData.shape)

(349, 9)

What percent of the new dataframe have diabetes

In [61]:
# your code here
dupi = newData[newData["class"]==0].shape
print (str(dupi[0])+" people have diabetes")
toti=newData.shape[0]
perci = dupi[0]/toti*100
print(str(perci)+" percent of people")

154 people have diabetes
44.126074498567334 percent of people

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [66]:
# write code here
mean=[]
for i in range(data.shape[1]-1):
  mean.append(data.iloc[:,i].mean())
print(mean)
aboveDat=data[data["preg"]>mean["preg"]&data["plas"]>mean["plas"]&data["pres"]>mean["pres"]&data["skin"]>mean["skin"]&data["test"]>mean["test"]&data["mass"]>mean["mass"]&data["pedi"]>mean["pedi"]&data["age"]>mean["age"]]

[3.8450520833333335, 120.89453125, 69.10546875, 20.536458333333332, 79.79947916666667, 31.992578124999998, 0.47187630208333325, 33.240885416666664]

TypeError: ignored

Using what you have learned (and google) explore the data. Discuss what you find with people around you or the instructors

In [0]:
# write code here